app-survey-page {
  /* 80ch recommended reading length from introduction + 2 * 24px padding-x of its card body from PrimeNG */
  --form-width: calc(80ch + 48px); 

  & p-fieldset {
    margin: 1rem;
    display: block;
    width: var(--form-width);
  }

  & app-dropdown-question {
    margin: 0 0.5rem;

    & p-select {
      width: 20ch;
    }
  }

  .send-button button {
    display: block;
    width: var(--form-width);
  }
}
