<p-card header="Surname Forge survey" class="d-flex flex-column align-items-center">
  <span class="d-block" style="width: 80ch; line-height: 1.5rem;">
    We are looking for feedback on the meaning of the surname, especially the choice of surname at the wedding.
    The survey will take about 10 minutes to complete.
    If you wish, you can leave any answer blank that you do not wish to answer.
    We greatly appreciate your time!
  </span>
</p-card>

<form class="d-flex flex-column align-items-center" [formGroup]="form">
  <p-fieldset legend="Questions about surname" i18n-legend>
    <app-matrix-questions 
      [questions]="surveyTemplate.aboutSurname.questions"
      [questionsForm]="form.controls.aboutSurname"  
    />
  </p-fieldset>

  <p-fieldset legend="Yes / No questions" i18n-legend>
    <app-dropdown-question
      [question]="surveyTemplate.aboutProblem"
      [options]="['Yes', 'No']"
      (selected)="form.controls.aboutProblem.setValue($event === 'Yes')"
    />
  </p-fieldset>

  <p-fieldset legend="Questions about AI" i18n-legend>
    <app-dropdown-question
      class="mb-2"
      [question]="surveyTemplate.aboutAI.howOften.question"
      [options]="surveyTemplate.aboutAI.howOften.options"
      (selected)="form.controls.aboutAI.controls.howOften.setValue($event)"
    />
    <app-matrix-questions
      [questions]="surveyTemplate.aboutAI.matrix.questions"
      [questionsForm]="form.controls.aboutAI.controls.matrix"
    />
  </p-fieldset>

  <p-fieldset legend="Other" i18n-legend>
    <app-free-text-question
      class="d-block mt-1 mb-3"
      [question]="surveyTemplate.openEnded.decisionOfSurname"
      [control]="form.controls.openEnded.controls.decisionForSurname"
    />
    <app-free-text-question
      [question]="surveyTemplate.openEnded.other"
      [control]="form.controls.openEnded.controls.other"
    />
  </p-fieldset>

  <p-fieldset legend="Questions about demographic" i18n-legend>
    <app-dropdown-question
      question="Your age"
      i18n-question
      [options]="surveyTemplate.demographic.age"
      (selected)="form.controls.demographic.controls.age.setValue($event)"
    />
    <app-dropdown-question
      question="Your gender"
      i18n-question
      [options]="surveyTemplate.demographic.gender"
      (selected)="form.controls.demographic.controls.gender.setValue($event)"
    />
    <app-dropdown-question
      question="Your relation status"
      i18n-question
      [options]="surveyTemplate.demographic.relationStatus"
      (selected)="form.controls.demographic.controls.relationStatus.setValue($event)"
    />
  </p-fieldset>

  <div style="font-size: 2rem;">Thank You</div>
  <p-button
    class="send-button | mt-2 mb-4"
    severity="primary"
    (onClick)="send()"
  >
    Send
  </p-button>
</form>
