<form [formGroup]="form">
  <h1 i18n>Surname Forge survey</h1>

  <p-card header="About" i18n-header i18n>
    We are looking for feedback on the meaning of the surname, especially the choice of surname at the wedding.
    The survey will take 5-10 minutes to complete.
    If you wish, you can leave any answer blank that you do not wish to answer.
    We greatly appreciate your time!
  </p-card>

  <p-fieldset legend="Questions about surname" i18n-legend>
    <app-matrix-questions 
      [questions]="surveyTemplate.aboutSurname.questions"
      [questionsForm]="form.controls.aboutSurname"  
    />
  </p-fieldset>

  <p-fieldset legend="Yes / No questions" i18n-legend>
    <app-dropdown-question
      [question]="surveyTemplate.aboutProblem.question"
      [options]="surveyTemplate.aboutProblem.options"
      [control]="form.controls.aboutProblem"
    />
  </p-fieldset>

  <p-fieldset legend="Questions about AI" i18n-legend>
    <app-dropdown-question
      class="mb-2"
      [question]="surveyTemplate.aboutAI.howOften.question"
      [options]="surveyTemplate.aboutAI.howOften.options"
      [control]="form.controls.aboutAI.controls.howOften"
    />
    <app-matrix-questions
      [questions]="surveyTemplate.aboutAI.matrix.questions"
      [questionsForm]="form.controls.aboutAI.controls.matrix"
    />
  </p-fieldset>

  <p-fieldset legend="Other" i18n-legend>
    <app-free-text-question
      class="d-block mt-1 mb-3"
      [question]="surveyTemplate.openEnded.decisionOfSurname"
      [control]="form.controls.openEnded.controls.decisionForSurname"
    />
    <app-free-text-question
      [question]="surveyTemplate.openEnded.other"
      [control]="form.controls.openEnded.controls.other"
    />
  </p-fieldset>

  <p-fieldset legend="Questions about demographic" i18n-legend>
    <app-dropdown-question
      question="Your age"
      i18n-question
      [options]="surveyTemplate.demographic.age"
      [control]="form.controls.demographic.controls.age"
    />
    <app-dropdown-question
      question="Your gender"
      i18n-question
      [options]="surveyTemplate.demographic.gender"
      [control]="form.controls.demographic.controls.gender"
    />
    <app-dropdown-question
      question="Your relation status"
      i18n-question
      [options]="surveyTemplate.demographic.relationStatus"
      [control]="form.controls.demographic.controls.relationStatus"
    />
  </p-fieldset>

  <div class="text-center" style="width: min(100vw, var(--form-width))">
    <div style="font-size: 2rem" i18n>Thank You</div>
    @if (wasSent) {
      <div class="mt-3 text-lg" i18n>We have received your feedback. You can close the page now.</div>
    }
  </div>
  <div style="width: min(100vw, var(--form-width))">
    <p-button
      class="send-button | mt-2 mb-4 w-100"
      styleClass="w-100"
      severity="primary"
      (onClick)="send()"
      [disabled]="wasSent"
      i18n
    >
      Send
    </p-button>
  </div>
</form>
