<div class="d-flex flex-column gap-3" style="min-height: 100vh; width: 100vw">
  <p-stepper class="d-block px-3" [activeStep]="activeStep$ | async" (activeStepChange)="handleActiveStepChange($event)">
    <p-stepperPanel header="Über diese Seite" />
    <p-stepperPanel header="Surname Forge" />
    <p-stepperPanel header="Umfrage" />
  </p-stepper>

  <div class="flex-grow-1">
    <router-outlet />
  </div>

  <p-toolbar>
    <!-- Note, that this is not yet centered, due to a bug in PrimeNG@18.0.0-beta.2 -->
    <ng-template pTemplate="center">
      <a href="/impressum">Impressum</a>
    </ng-template>
  </p-toolbar>
</div>