@let isGloballyLoading = globalLoadingService.isLoading$ | async;
<div
  class="vh-100 overflow-auto d-flex flex-column"
  [attr.inert]="isGloballyLoading ? '' : null"
>
  <!-- <div class="d-flex flex-column gap-3" style="height: 100vh; width: 100vw; overflow: auto;">
    <p-stepper class="d-block px-3" [activeStep]="activeStep$ | async" (activeStepChange)="handleActiveStepChange($event)">
      <p-stepperPanel header="Über diese Seite" />
      <p-stepperPanel header="Surname Forge" />
      <p-stepperPanel header="Umfrage" />
    </p-stepper>

    <div class="flex-grow-1">
      <router-outlet />
    </div>

    <p-toolbar styleClass="footer">
      <ng-template pTemplate="center">
        <a href="/impressum">Impressum</a>
      </ng-template>
    </p-toolbar>
  </div> -->
  <div class="my-4 flex-grow-1">
    <router-outlet />
  </div>

  <p-toolbar styleClass="footer">
    <ng-template pTemplate="start"></ng-template>
    <ng-template pTemplate="center">
      <a href="/impressum">Impressum</a>
    </ng-template>
    <ng-template pTemplate="end"></ng-template>
  </p-toolbar>
</div>

@if (isGloballyLoading) {
  <div class="position-absolute vh-100 vw-100 top-0 | global-loading-container">
    <div class="h-100" [isLoading]="isGloballyLoading"></div>
  </div>
}
