app-root > p-stepper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .p-stepper-panels {
    flex-grow: 1;

    & p-steppercontent {
      display: block;
      height: 100%;

      [role=tabpanel] {
        height: 100%;
      }
    }
  }
}
