<div class="matrix-questions-container">
  <!-- header -->
  <div><!--question column --></div>
  @for (pA of possibleAnswers; track pA.value) {
    <div class="app-matrix-question-option | m-auto d-flex h-100 align-items-end">{{ pA.valueLabel }}</div>
  }

  <!-- body -->
  @for (q of questions; track $index; let i=$index) {
    <div class="border"></div>
    <div>{{ q }}</div>
    @for (pA of possibleAnswers; track pA.value) {
      <div class="m-auto">
        <p-radioButton 
          [name]="q"
          [value]="pA.value"
          [formControl]="questionsForm.at(i)"
        />
    </div>
    }
  }
</div>
